#SceneExample_1259 {
            fill-opacity: 0;
            stroke-opacity: 0;
            animation: animate-SceneExample_1259 0.816667s 7.683333s linear 1 forwards;
            }
            @keyframes animate-SceneExample_1259 {
            0.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-3.859259 -3.0,-3.718519 -3.0,-3.577778');

}
2.041% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-3.644444 -3.0,-3.288889 -3.0,-2.933333');

}
4.082% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-3.42963 -3.0,-2.859259 -3.0,-2.288889');

}
6.122% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-3.214815 -3.0,-2.42963 -3.0,-1.644444');

}
8.163% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-3.0 -3.0,-2.0 -3.0,-1.0');

}
10.204% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-2.785185 -3.0,-1.57037 -3.0,-0.355556');

}
12.245% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-2.57037 -3.0,-1.140741 -3.0,0.288889');

}
14.286% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-2.355556 -3.0,-0.711111 -3.0,0.933333');

}
16.327% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-2.140741 -3.0,-0.281481 -3.0,1.577778');

}
18.367% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.925926 -3.0,0.148148 -3.0,2.222222');

}
20.408% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.711111 -3.0,0.577778 -3.0,2.866667');

}
22.449% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.496296 -3.0,1.007407 -3.0,3.511111');

}
24.490% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
26.531% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
28.571% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
30.612% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
32.653% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
34.694% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
36.735% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
38.776% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
40.816% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
42.857% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
44.898% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
46.939% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
48.980% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
51.020% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
53.061% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
55.102% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
57.143% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
59.184% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
61.224% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
63.265% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
65.306% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
67.347% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
69.388% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
71.429% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
73.469% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
75.510% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
77.551% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
79.592% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
81.633% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
83.673% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
85.714% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
87.755% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
89.796% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
91.837% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
93.878% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
95.918% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
97.959% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -3.0,-4.0 C -3.0,-1.333333 -3.0,1.333333 -3.0,4.0');

}
100.000% {
fill-opacity: 0;
stroke-opacity: 0;

}
}