#SceneExample_1351 {
            fill-opacity: 0;
            stroke-opacity: 0;
            animation: animate-SceneExample_1351 0.550000s 7.950000s linear 1 forwards;
            }
            @keyframes animate-SceneExample_1351 {
            0.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-3.977778 -7.0,-3.955556 -7.0,-3.933333');

}
3.030% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-3.762963 -7.0,-3.525926 -7.0,-3.288889');

}
6.061% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-3.548148 -7.0,-3.096296 -7.0,-2.644444');

}
9.091% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-3.333333 -7.0,-2.666667 -7.0,-2.0');

}
12.121% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-3.118519 -7.0,-2.237037 -7.0,-1.355556');

}
15.152% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-2.903704 -7.0,-1.807407 -7.0,-0.711111');

}
18.182% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-2.688889 -7.0,-1.377778 -7.0,-0.0666667');

}
21.212% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-2.474074 -7.0,-0.948148 -7.0,0.577778');

}
24.242% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-2.259259 -7.0,-0.518519 -7.0,1.222222');

}
27.273% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-2.044444 -7.0,-0.0888889 -7.0,1.866667');

}
30.303% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.82963 -7.0,0.340741 -7.0,2.511111');

}
33.333% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.614815 -7.0,0.77037 -7.0,3.155556');

}
36.364% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.4 -7.0,1.2 -7.0,3.8');

}
39.394% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
42.424% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
45.455% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
48.485% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
51.515% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
54.545% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
57.576% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
60.606% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
63.636% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
66.667% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
69.697% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
72.727% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
75.758% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
78.788% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
81.818% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
84.848% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
87.879% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
90.909% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
93.939% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
96.970% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.0,-4.0 C -7.0,-1.333333 -7.0,1.333333 -7.0,4.0');

}
100.000% {
fill-opacity: 0;
stroke-opacity: 0;

}
}