#SceneExample_1334 {
            fill-opacity: 0;
            stroke-opacity: 0;
            animation: animate-SceneExample_1334 0.616667s 7.883333s linear 1 forwards;
            }
            @keyframes animate-SceneExample_1334 {
            0.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-3.948148 -6.0,-3.896296 -6.0,-3.844444');

}
2.703% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-3.733333 -6.0,-3.466667 -6.0,-3.2');

}
5.405% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-3.518519 -6.0,-3.037037 -6.0,-2.555556');

}
8.108% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-3.303704 -6.0,-2.607407 -6.0,-1.911111');

}
10.811% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-3.088889 -6.0,-2.177778 -6.0,-1.266667');

}
13.514% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-2.874074 -6.0,-1.748148 -6.0,-0.622222');

}
16.216% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-2.659259 -6.0,-1.318519 -6.0,0.0222222');

}
18.919% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-2.444444 -6.0,-0.888889 -6.0,0.666667');

}
21.622% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-2.22963 -6.0,-0.459259 -6.0,1.311111');

}
24.324% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-2.014815 -6.0,-0.0296296 -6.0,1.955556');

}
27.027% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.8 -6.0,0.4 -6.0,2.6');

}
29.730% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.585185 -6.0,0.82963 -6.0,3.244444');

}
32.432% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.37037 -6.0,1.259259 -6.0,3.888889');

}
35.135% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
37.838% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
40.541% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
43.243% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
45.946% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
48.649% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
51.351% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
54.054% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
56.757% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
59.459% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
62.162% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
64.865% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
67.568% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
70.270% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
72.973% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
75.676% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
78.378% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
81.081% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
83.784% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
86.486% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
89.189% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
91.892% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
94.595% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
97.297% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -6.0,-4.0 C -6.0,-1.333333 -6.0,1.333333 -6.0,4.0');

}
100.000% {
fill-opacity: 0;
stroke-opacity: 0;

}
}