#SceneExample_1313 {
            fill-opacity: 0;
            stroke-opacity: 0;
            animation: animate-SceneExample_1313 0.683333s 7.816667s linear 1 forwards;
            }
            @keyframes animate-SceneExample_1313 {
            0.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-3.918519 -5.0,-3.837037 -5.0,-3.755556');

}
2.439% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-3.703704 -5.0,-3.407407 -5.0,-3.111111');

}
4.878% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-3.488889 -5.0,-2.977778 -5.0,-2.466667');

}
7.317% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-3.274074 -5.0,-2.548148 -5.0,-1.822222');

}
9.756% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-3.059259 -5.0,-2.118519 -5.0,-1.177778');

}
12.195% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-2.844444 -5.0,-1.688889 -5.0,-0.533333');

}
14.634% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-2.62963 -5.0,-1.259259 -5.0,0.111111');

}
17.073% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-2.414815 -5.0,-0.82963 -5.0,0.755556');

}
19.512% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-2.2 -5.0,-0.4 -5.0,1.4');

}
21.951% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.985185 -5.0,0.0296296 -5.0,2.044444');

}
24.390% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.77037 -5.0,0.459259 -5.0,2.688889');

}
26.829% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.555556 -5.0,0.888889 -5.0,3.333333');

}
29.268% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.340741 -5.0,1.318519 -5.0,3.977778');

}
31.707% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
34.146% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
36.585% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
39.024% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
41.463% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
43.902% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
46.341% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
48.780% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
51.220% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
53.659% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
56.098% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
58.537% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
60.976% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
63.415% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
65.854% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
68.293% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
70.732% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
73.171% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
75.610% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
78.049% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
80.488% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
82.927% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
85.366% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
87.805% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
90.244% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
92.683% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
95.122% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
97.561% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -5.0,-4.0 C -5.0,-1.333333 -5.0,1.333333 -5.0,4.0');

}
100.000% {
fill-opacity: 0;
stroke-opacity: 0;

}
}