#SceneExample_1367 {
            fill-opacity: 0;
            stroke-opacity: 0;
            animation: animate-SceneExample_1367 0.466667s 8.033333s linear 1 forwards;
            }
            @keyframes animate-SceneExample_1367 {
            0.000% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -6.74239,0.0 -6.373669,0.0 -6.004948,0.0');

}
3.571% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -6.360503,0.0 -5.609867,0.0 -4.859259,0.0');

}
7.143% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -5.978588,0.0 -4.846094,0.0 -3.713571,0.0');

}
10.714% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -5.596701,0.0 -4.082292,0.0 -2.567911,0.0');

}
14.286% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -5.214815,0.0 -3.318519,0.0 -1.422222,0.0');

}
17.857% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -4.832928,0.0 -2.554745,0.0 -0.276534,0.0');

}
21.429% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -4.451042,0.0 -1.790943,0.0 0.869126,0.0');

}
25.000% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -4.069126,0.0 -1.02717,0.0 2.014815,0.0');

}
28.571% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -3.68724,0.0 -0.263368,0.0 3.160503,0.0');

}
32.143% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -3.305353,0.0 0.500405,0.0 4.306163,0.0');

}
35.714% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.923466,0.0 1.264207,0.0 5.451852,0.0');

}
39.286% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.541551,0.0 2.02798,0.0 6.597541,0.0');

}
42.857% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
46.429% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
50.000% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
53.571% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
57.143% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
60.714% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
64.286% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
67.857% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
71.429% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
75.000% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
78.571% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
82.143% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
85.714% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
89.286% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
92.857% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
96.429% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
100.000% {
fill-opacity: 0;
stroke-opacity: 0;

}
}