#SceneExample_1138 {
            fill-opacity: 0;
            stroke-opacity: 0;
            animation: animate-SceneExample_1138 1.033333s 7.466667s linear 1 forwards;
            }
            @keyframes animate-SceneExample_1138 {
            0.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-3.985185 7.0,-3.97037 7.0,-3.955556');

}
1.613% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-3.77037 7.0,-3.540741 7.0,-3.311111');

}
3.226% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-3.555556 7.0,-3.111111 7.0,-2.666667');

}
4.839% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-3.340741 7.0,-2.681481 7.0,-2.022222');

}
6.452% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-3.125926 7.0,-2.251852 7.0,-1.377778');

}
8.065% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-2.911111 7.0,-1.822222 7.0,-0.733333');

}
9.677% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-2.696296 7.0,-1.392593 7.0,-0.0888889');

}
11.290% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-2.481481 7.0,-0.962963 7.0,0.555556');

}
12.903% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-2.266667 7.0,-0.533333 7.0,1.2');

}
14.516% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-2.051852 7.0,-0.103704 7.0,1.844444');

}
16.129% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.837037 7.0,0.325926 7.0,2.488889');

}
17.742% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.622222 7.0,0.755556 7.0,3.133333');

}
19.355% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.407407 7.0,1.185185 7.0,3.777778');

}
20.968% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
22.581% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
24.194% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
25.806% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
27.419% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
29.032% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
30.645% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
32.258% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
33.871% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
35.484% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
37.097% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
38.710% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
40.323% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
41.935% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
43.548% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
45.161% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
46.774% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
48.387% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
50.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
51.613% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
53.226% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
54.839% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
56.452% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
58.065% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
59.677% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
61.290% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
62.903% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
64.516% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
66.129% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
67.742% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
69.355% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
70.968% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
72.581% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
74.194% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
75.806% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
77.419% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
79.032% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
80.645% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
82.258% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
83.871% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
85.484% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
87.097% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
88.710% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
90.323% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
91.935% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
93.548% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
95.161% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
96.774% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
98.387% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 7.0,-4.0 C 7.0,-1.333333 7.0,1.333333 7.0,4.0');

}
100.000% {
fill-opacity: 0;
stroke-opacity: 0;

}
}