#SceneExample_1376 {
            fill-opacity: 0;
            stroke-opacity: 0;
            animation: animate-SceneExample_1376 0.400000s 8.100000s linear 1 forwards;
            }
            @keyframes animate-SceneExample_1376 {
            0.000% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-3.822222 0.0,-3.644444 0.0,-3.466667');

}
4.167% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-3.607407 0.0,-3.214815 0.0,-2.822222');

}
8.333% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-3.392593 0.0,-2.785185 0.0,-2.177778');

}
12.500% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-3.177778 0.0,-2.355556 0.0,-1.533333');

}
16.667% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-2.962963 0.0,-1.925926 0.0,-0.888889');

}
20.833% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-2.748148 0.0,-1.496296 0.0,-0.244444');

}
25.000% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-2.533333 0.0,-1.066667 0.0,0.4');

}
29.167% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-2.318519 0.0,-0.637037 0.0,1.044444');

}
33.333% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-2.103704 0.0,-0.207407 0.0,1.688889');

}
37.500% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-1.888889 0.0,0.222222 0.0,2.333333');

}
41.667% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-1.674074 0.0,0.651852 0.0,2.977778');

}
45.833% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-1.459259 0.0,1.081481 0.0,3.622222');

}
50.000% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-1.333333 0.0,1.333333 0.0,4.0');

}
54.167% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-1.333333 0.0,1.333333 0.0,4.0');

}
58.333% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-1.333333 0.0,1.333333 0.0,4.0');

}
62.500% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-1.333333 0.0,1.333333 0.0,4.0');

}
66.667% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-1.333333 0.0,1.333333 0.0,4.0');

}
70.833% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-1.333333 0.0,1.333333 0.0,4.0');

}
75.000% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-1.333333 0.0,1.333333 0.0,4.0');

}
79.167% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-1.333333 0.0,1.333333 0.0,4.0');

}
83.333% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-1.333333 0.0,1.333333 0.0,4.0');

}
87.500% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-1.333333 0.0,1.333333 0.0,4.0');

}
91.667% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-1.333333 0.0,1.333333 0.0,4.0');

}
95.833% {
fill: #000;
fill-opacity: 0.0;
stroke: #000;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 0.0,-4.0 C 0.0,-1.333333 0.0,1.333333 0.0,4.0');

}
100.000% {
fill-opacity: 0;
stroke-opacity: 0;

}
}