#SceneExample_127 {
            fill-opacity: 0;
            stroke-opacity: 0;
            animation: animate-SceneExample_127 1.983333s 6.516667s linear 1 forwards;
            }
            @keyframes animate-SceneExample_127 {
            0.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -6.729225,0.0 -6.347338,0.0 -5.965422,0.0');

}
0.840% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -6.347338,0.0 -5.583536,0.0 -4.819763,0.0');

}
1.681% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -5.965422,0.0 -4.819763,0.0 -3.674074,0.0');

}
2.521% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -5.583536,0.0 -4.055961,0.0 -2.528385,0.0');

}
3.361% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -5.201649,0.0 -3.292188,0.0 -1.382726,0.0');

}
4.202% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -4.819763,0.0 -2.528385,0.0 -0.237037,0.0');

}
5.042% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -4.437847,0.0 -1.764612,0.0 0.908652,0.0');

}
5.882% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -4.055961,0.0 -1.00081,0.0 2.054311,0.0');

}
6.723% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -3.674074,0.0 -0.237037,0.0 3.2,0.0');

}
7.563% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -3.292188,0.0 0.526736,0.0 4.345689,0.0');

}
8.403% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.910301,0.0 1.290538,0.0 5.491348,0.0');

}
9.244% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.528385,0.0 2.054311,0.0 6.637037,0.0');

}
10.084% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
10.924% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
11.765% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
12.605% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
13.445% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
14.286% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
15.126% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
15.966% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
16.807% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
17.647% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
18.487% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
19.328% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
20.168% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
21.008% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
21.849% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
22.689% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
23.529% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
24.370% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
25.210% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
26.050% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
26.891% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
27.731% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
28.571% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
29.412% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
30.252% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
31.092% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
31.933% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
32.773% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
33.613% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
34.454% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
35.294% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
36.134% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
36.975% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
37.815% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
38.655% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
39.496% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
40.336% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
41.176% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
42.017% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
42.857% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
43.697% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
44.538% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
45.378% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
46.218% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
47.059% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
47.899% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
48.739% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
49.580% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
50.420% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
51.261% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
52.101% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
52.941% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
53.782% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
54.622% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
55.462% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
56.303% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
57.143% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
57.983% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
58.824% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
59.664% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
60.504% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
61.345% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
62.185% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
63.025% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
63.866% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
64.706% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
65.546% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
66.387% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
67.227% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
68.067% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
68.908% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
69.748% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
70.588% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
71.429% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
72.269% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
73.109% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
73.950% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
74.790% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
75.630% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
76.471% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
77.311% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
78.151% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
78.992% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
79.832% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
80.672% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
81.513% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
82.353% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
83.193% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
84.034% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
84.874% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
85.714% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
86.555% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
87.395% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
88.235% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
89.076% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
89.916% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
90.756% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
91.597% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
92.437% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
93.277% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
94.118% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
94.958% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
95.798% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
96.639% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
97.479% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
98.319% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
99.160% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,0.0 C -2.37037,0.0 2.37037,0.0 7.111111,0.0');

}
100.000% {
fill-opacity: 0;
stroke-opacity: 0;

}
}