#SceneExample_873 {
            fill-opacity: 0;
            stroke-opacity: 0;
            animation: animate-SceneExample_873 1.366667s 7.133333s linear 1 forwards;
            }
            @keyframes animate-SceneExample_873 {
            0.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-3.837037 2.0,-3.674074 2.0,-3.511111');

}
1.220% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-3.622222 2.0,-3.244444 2.0,-2.866667');

}
2.439% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-3.407407 2.0,-2.814815 2.0,-2.222222');

}
3.659% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-3.192593 2.0,-2.385185 2.0,-1.577778');

}
4.878% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-2.977778 2.0,-1.955556 2.0,-0.933333');

}
6.098% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-2.762963 2.0,-1.525926 2.0,-0.288889');

}
7.317% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-2.548148 2.0,-1.096296 2.0,0.355556');

}
8.537% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-2.333333 2.0,-0.666667 2.0,1.0');

}
9.756% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-2.118519 2.0,-0.237037 2.0,1.644444');

}
10.976% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.903704 2.0,0.192593 2.0,2.288889');

}
12.195% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.688889 2.0,0.622222 2.0,2.933333');

}
13.415% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.474074 2.0,1.051852 2.0,3.577778');

}
14.634% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
15.854% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
17.073% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
18.293% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
19.512% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
20.732% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
21.951% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
23.171% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
24.390% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
25.610% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
26.829% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
28.049% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
29.268% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
30.488% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
31.707% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
32.927% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
34.146% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
35.366% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
36.585% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
37.805% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
39.024% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
40.244% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
41.463% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
42.683% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
43.902% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
45.122% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
46.341% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
47.561% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
48.780% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
50.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
51.220% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
52.439% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
53.659% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
54.878% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
56.098% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
57.317% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
58.537% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
59.756% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
60.976% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
62.195% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
63.415% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
64.634% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
65.854% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
67.073% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
68.293% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
69.512% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
70.732% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
71.951% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
73.171% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
74.390% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
75.610% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
76.829% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
78.049% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
79.268% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
80.488% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
81.707% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
82.927% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
84.146% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
85.366% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
86.585% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
87.805% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
89.024% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
90.244% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
91.463% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
92.683% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
93.902% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
95.122% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
96.341% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
97.561% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
98.780% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 2.0,-4.0 C 2.0,-1.333333 2.0,1.333333 2.0,4.0');

}
100.000% {
fill-opacity: 0;
stroke-opacity: 0;

}
}