#SceneExample_317 {
            fill-opacity: 0;
            stroke-opacity: 0;
            animation: animate-SceneExample_317 1.850000s 6.650000s linear 1 forwards;
            }
            @keyframes animate-SceneExample_317 {
            0.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -6.834578,2.0 -6.558015,2.0 -6.281481,2.0');

}
0.901% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -6.452662,2.0 -5.794242,2.0 -5.135793,2.0');

}
1.802% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -6.070775,2.0 -5.03044,2.0 -3.990133,2.0');

}
2.703% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -5.688889,2.0 -4.266667,2.0 -2.844444,2.0');

}
3.604% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -5.307002,2.0 -3.502894,2.0 -1.698756,2.0');

}
4.505% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -4.925116,2.0 -2.739091,2.0 -0.553096,2.0');

}
5.405% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -4.5432,2.0 -1.975318,2.0 0.592593,2.0');

}
6.306% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -4.161314,2.0 -1.211516,2.0 1.738281,2.0');

}
7.207% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -3.779427,2.0 -0.447743,2.0 2.883941,2.0');

}
8.108% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -3.397541,2.0 0.316059,2.0 4.02963,2.0');

}
9.009% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -3.015625,2.0 1.079832,2.0 5.175318,2.0');

}
9.910% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.633738,2.0 1.843634,2.0 6.320978,2.0');

}
10.811% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
11.712% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
12.613% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
13.514% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
14.414% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
15.315% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
16.216% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
17.117% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
18.018% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
18.919% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
19.820% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
20.721% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
21.622% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
22.523% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
23.423% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
24.324% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
25.225% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
26.126% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
27.027% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
27.928% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
28.829% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
29.730% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
30.631% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
31.532% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
32.432% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
33.333% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
34.234% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
35.135% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
36.036% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
36.937% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
37.838% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
38.739% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
39.640% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
40.541% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
41.441% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
42.342% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
43.243% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
44.144% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
45.045% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
45.946% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
46.847% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
47.748% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
48.649% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
49.550% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
50.450% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
51.351% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
52.252% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
53.153% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
54.054% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
54.955% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
55.856% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
56.757% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
57.658% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
58.559% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
59.459% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
60.360% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
61.261% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
62.162% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
63.063% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
63.964% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
64.865% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
65.766% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
66.667% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
67.568% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
68.468% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
69.369% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
70.270% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
71.171% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
72.072% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
72.973% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
73.874% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
74.775% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
75.676% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
76.577% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
77.477% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
78.378% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
79.279% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
80.180% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
81.081% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
81.982% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
82.883% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
83.784% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
84.685% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
85.586% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
86.486% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
87.387% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
88.288% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
89.189% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
90.090% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
90.991% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
91.892% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
92.793% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
93.694% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
94.595% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
95.495% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
96.396% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
97.297% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
98.198% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
99.099% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M -7.111111,2.0 C -2.37037,2.0 2.37037,2.0 7.111111,2.0');

}
100.000% {
fill-opacity: 0;
stroke-opacity: 0;

}
}