#SceneExample_1093 {
            fill-opacity: 0;
            stroke-opacity: 0;
            animation: animate-SceneExample_1093 1.100000s 7.400000s linear 1 forwards;
            }
            @keyframes animate-SceneExample_1093 {
            0.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-3.955556 6.0,-3.911111 6.0,-3.866667');

}
1.515% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-3.740741 6.0,-3.481481 6.0,-3.222222');

}
3.030% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-3.525926 6.0,-3.051852 6.0,-2.577778');

}
4.545% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-3.311111 6.0,-2.622222 6.0,-1.933333');

}
6.061% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-3.096296 6.0,-2.192593 6.0,-1.288889');

}
7.576% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-2.881481 6.0,-1.762963 6.0,-0.644444');

}
9.091% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-2.666667 6.0,-1.333333 6.0,0.0');

}
10.606% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-2.451852 6.0,-0.903704 6.0,0.644444');

}
12.121% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-2.237037 6.0,-0.474074 6.0,1.288889');

}
13.636% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-2.022222 6.0,-0.0444444 6.0,1.933333');

}
15.152% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.807407 6.0,0.385185 6.0,2.577778');

}
16.667% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.592593 6.0,0.814815 6.0,3.222222');

}
18.182% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.377778 6.0,1.244444 6.0,3.866667');

}
19.697% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
21.212% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
22.727% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
24.242% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
25.758% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
27.273% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
28.788% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
30.303% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
31.818% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
33.333% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
34.848% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
36.364% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
37.879% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
39.394% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
40.909% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
42.424% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
43.939% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
45.455% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
46.970% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
48.485% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
50.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
51.515% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
53.030% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
54.545% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
56.061% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
57.576% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
59.091% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
60.606% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
62.121% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
63.636% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
65.152% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
66.667% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
68.182% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
69.697% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
71.212% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
72.727% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
74.242% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
75.758% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
77.273% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
78.788% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
80.303% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
81.818% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
83.333% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
84.848% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
86.364% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
87.879% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
89.394% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
90.909% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
92.424% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
93.939% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
95.455% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
96.970% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
98.485% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 6.0,-4.0 C 6.0,-1.333333 6.0,1.333333 6.0,4.0');

}
100.000% {
fill-opacity: 0;
stroke-opacity: 0;

}
}