#SceneExample_934 {
            fill-opacity: 0;
            stroke-opacity: 0;
            animation: animate-SceneExample_934 1.300000s 7.200000s linear 1 forwards;
            }
            @keyframes animate-SceneExample_934 {
            0.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-3.866667 3.0,-3.733333 3.0,-3.6');

}
1.282% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-3.651852 3.0,-3.303704 3.0,-2.955556');

}
2.564% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-3.437037 3.0,-2.874074 3.0,-2.311111');

}
3.846% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-3.222222 3.0,-2.444444 3.0,-1.666667');

}
5.128% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-3.007407 3.0,-2.014815 3.0,-1.022222');

}
6.410% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-2.792593 3.0,-1.585185 3.0,-0.377778');

}
7.692% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-2.577778 3.0,-1.155556 3.0,0.266667');

}
8.974% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-2.362963 3.0,-0.725926 3.0,0.911111');

}
10.256% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-2.148148 3.0,-0.296296 3.0,1.555556');

}
11.538% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.933333 3.0,0.133333 3.0,2.2');

}
12.821% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.718519 3.0,0.562963 3.0,2.844444');

}
14.103% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.503704 3.0,0.992593 3.0,3.488889');

}
15.385% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
16.667% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
17.949% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
19.231% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
20.513% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
21.795% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
23.077% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
24.359% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
25.641% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
26.923% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
28.205% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
29.487% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
30.769% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
32.051% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
33.333% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
34.615% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
35.897% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
37.179% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
38.462% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
39.744% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
41.026% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
42.308% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
43.590% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
44.872% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
46.154% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
47.436% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
48.718% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
50.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
51.282% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
52.564% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
53.846% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
55.128% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
56.410% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
57.692% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
58.974% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
60.256% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
61.538% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
62.821% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
64.103% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
65.385% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
66.667% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
67.949% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
69.231% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
70.513% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
71.795% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
73.077% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
74.359% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
75.641% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
76.923% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
78.205% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
79.487% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
80.769% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
82.051% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
83.333% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
84.615% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
85.897% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
87.179% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
88.462% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
89.744% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
91.026% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
92.308% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
93.590% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
94.872% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
96.154% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
97.436% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
98.718% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 3.0,-4.0 C 3.0,-1.333333 3.0,1.333333 3.0,4.0');

}
100.000% {
fill-opacity: 0;
stroke-opacity: 0;

}
}