#SceneExample_808 {
            fill-opacity: 0;
            stroke-opacity: 0;
            animation: animate-SceneExample_808 1.433333s 7.066667s linear 1 forwards;
            }
            @keyframes animate-SceneExample_808 {
            0.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-3.807407 1.0,-3.614815 1.0,-3.422222');

}
1.163% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-3.592593 1.0,-3.185185 1.0,-2.777778');

}
2.326% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-3.377778 1.0,-2.755556 1.0,-2.133333');

}
3.488% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-3.162963 1.0,-2.325926 1.0,-1.488889');

}
4.651% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-2.948148 1.0,-1.896296 1.0,-0.844444');

}
5.814% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-2.733333 1.0,-1.466667 1.0,-0.2');

}
6.977% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-2.518519 1.0,-1.037037 1.0,0.444444');

}
8.140% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-2.303704 1.0,-0.607407 1.0,1.088889');

}
9.302% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-2.088889 1.0,-0.177778 1.0,1.733333');

}
10.465% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.874074 1.0,0.251852 1.0,2.377778');

}
11.628% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.659259 1.0,0.681481 1.0,3.022222');

}
12.791% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.444444 1.0,1.111111 1.0,3.666667');

}
13.953% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
15.116% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
16.279% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
17.442% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
18.605% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
19.767% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
20.930% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
22.093% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
23.256% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
24.419% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
25.581% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
26.744% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
27.907% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
29.070% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
30.233% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
31.395% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
32.558% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
33.721% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
34.884% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
36.047% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
37.209% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
38.372% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
39.535% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
40.698% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
41.860% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
43.023% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
44.186% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
45.349% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
46.512% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
47.674% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
48.837% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
50.000% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
51.163% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
52.326% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
53.488% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
54.651% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
55.814% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
56.977% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
58.140% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
59.302% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
60.465% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
61.628% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
62.791% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
63.953% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
65.116% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
66.279% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
67.442% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
68.605% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
69.767% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
70.930% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
72.093% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
73.256% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
74.419% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
75.581% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
76.744% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
77.907% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
79.070% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
80.233% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
81.395% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
82.558% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
83.721% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
84.884% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
86.047% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
87.209% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
88.372% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
89.535% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
90.698% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
91.860% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
93.023% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
94.186% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
95.349% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
96.512% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
97.674% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
98.837% {
fill: #fff;
fill-opacity: 0.0;
stroke: #29abca;
stroke-width: 0.02;
stroke-opacity: 1.0;
d: path('M 1.0,-4.0 C 1.0,-1.333333 1.0,1.333333 1.0,4.0');

}
100.000% {
fill-opacity: 0;
stroke-opacity: 0;

}
}