#SceneExample_0 {
            animation: animate-SceneExample_0 2.000000s 0.000000s linear 1 forwards;
            }
            @keyframes animate-SceneExample_0 {
            0.000% {
fill: #fc6255;
fill-opacity: 0.75;
stroke: #fc6255;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 0.0px 0.0px;

}
0.833% {
fill: #fc6255;
fill-opacity: 0.75;
stroke: #fc6255;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 0.9245823656044649px 0.0px;

}
1.667% {
fill: #fc6255;
fill-opacity: 0.75;
stroke: #fc6255;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 2.013962936139592px 0.0px;

}
2.500% {
fill: #fb6256;
fill-opacity: 0.75;
stroke: #fb6256;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 3.2969058664799604px 0.0px;

}
3.333% {
fill: #fb6356;
fill-opacity: 0.75;
stroke: #fb6356;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 4.80695854321425px 0.0px;

}
4.167% {
fill: #fb6356;
fill-opacity: 0.75;
stroke: #fb6356;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 6.583154634396919px 0.0px;

}
5.000% {
fill: #fa6357;
fill-opacity: 0.75;
stroke: #fa6357;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 8.670784000563572px 0.0px;

}
5.833% {
fill: #fa6357;
fill-opacity: 0.75;
stroke: #fa6357;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 11.12222031966121px 0.0px;

}
6.667% {
fill: #f96458;
fill-opacity: 0.75;
stroke: #f96458;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 13.997788837967391px 0.0px;

}
7.500% {
fill: #f86458;
fill-opacity: 0.75;
stroke: #f86458;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 17.366644950422938px 0.0px;

}
8.333% {
fill: #f76559;
fill-opacity: 0.75;
stroke: #f76559;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 21.307618571307785px 0.0px;

}
9.167% {
fill: #f6655a;
fill-opacity: 0.7500000000000001;
stroke: #f6655a;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 25.909958757325967px 0.0px;

}
10.000% {
fill: #f5665b;
fill-opacity: 0.7499999999999999;
stroke: #f5665b;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 31.273887287740536px 0.0px;

}
10.833% {
fill: #f4675c;
fill-opacity: 0.75;
stroke: #f4675c;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 37.51083889984818px 0.0px;

}
11.667% {
fill: #f2685d;
fill-opacity: 0.75;
stroke: #f2685d;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 44.743230584158596px 0.0px;

}
12.500% {
fill: #f1695f;
fill-opacity: 0.75;
stroke: #f1695f;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 53.10356528291936px 0.0px;

}
13.333% {
fill: #ee6a60;
fill-opacity: 0.75;
stroke: #ee6a60;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 62.73264134238332px 0.0px;

}
14.167% {
fill: #ec6c62;
fill-opacity: 0.75;
stroke: #ec6c62;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 73.77661608599578px 0.0px;

}
15.000% {
fill: #e96d65;
fill-opacity: 0.75;
stroke: #e96d65;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 86.38267154276264px 0.0px;

}
15.833% {
fill: #e66f67;
fill-opacity: 0.75;
stroke: #e66f67;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 100.69306796174669px 0.0px;

}
16.667% {
fill: #e3716a;
fill-opacity: 0.75;
stroke: #e3716a;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 116.837463827688px 0.0px;

}
17.500% {
fill: #df736d;
fill-opacity: 0.75;
stroke: #df736d;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 134.9235460681898px 0.0px;

}
18.333% {
fill: #da7671;
fill-opacity: 0.75;
stroke: #da7671;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 155.0262601716904px 0.0px;

}
19.167% {
fill: #d67975;
fill-opacity: 0.75;
stroke: #d67975;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 177.17625035729043px 0.0px;

}
20.000% {
fill: #d07c79;
fill-opacity: 0.7499999999999999;
stroke: #d07c79;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 201.34848287201226px 0.0px;

}
20.833% {
fill: #cb7f7e;
fill-opacity: 0.75;
stroke: #cb7f7e;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 227.45236739576944px 0.0px;

}
21.667% {
fill: #c58383;
fill-opacity: 0.75;
stroke: #c58383;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 255.32491932940115px 0.0px;

}
22.500% {
fill: #be8788;
fill-opacity: 0.75;
stroke: #be8788;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 284.7285130225557px 0.0px;

}
23.333% {
fill: #b88b8e;
fill-opacity: 0.75;
stroke: #b88b8e;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 315.3544750087299px 0.0px;

}
24.167% {
fill: #b18f93;
fill-opacity: 0.75;
stroke: #b18f93;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 346.83312924744087px 0.0px;

}
25.000% {
fill: #aa9399;
fill-opacity: 0.75;
stroke: #aa9399;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 378.75px 0.0px;

}
25.833% {
fill: #a3979f;
fill-opacity: 0.75;
stroke: #a3979f;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 410.66687075255913px 0.0px;

}
26.667% {
fill: #9c9ba4;
fill-opacity: 0.75;
stroke: #9c9ba4;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 442.1455249912701px 0.0px;

}
27.500% {
fill: #969faa;
fill-opacity: 0.75;
stroke: #969faa;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 472.7714869774443px 0.0px;

}
28.333% {
fill: #8fa3af;
fill-opacity: 0.75;
stroke: #8fa3af;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 502.1750806705986px 0.0px;

}
29.167% {
fill: #89a7b4;
fill-opacity: 0.75;
stroke: #89a7b4;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 530.047632604231px 0.0px;

}
30.000% {
fill: #84aab9;
fill-opacity: 0.75;
stroke: #84aab9;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 556.1515171279877px 0.0px;

}
30.833% {
fill: #7eadbd;
fill-opacity: 0.75;
stroke: #7eadbd;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 580.3237496427096px 0.0px;

}
31.667% {
fill: #7ab0c1;
fill-opacity: 0.75;
stroke: #7ab0c1;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 602.4737398283098px 0.0px;

}
32.500% {
fill: #75b3c5;
fill-opacity: 0.75;
stroke: #75b3c5;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 622.5764539318102px 0.0px;

}
33.333% {
fill: #71b5c8;
fill-opacity: 0.75;
stroke: #71b5c8;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 640.662536172312px 0.0px;

}
34.167% {
fill: #6eb7cb;
fill-opacity: 0.75;
stroke: #6eb7cb;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 656.8069320382533px 0.0px;

}
35.000% {
fill: #6bb9cd;
fill-opacity: 0.75;
stroke: #6bb9cd;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 671.1173284572374px 0.0px;

}
35.833% {
fill: #68bad0;
fill-opacity: 0.75;
stroke: #68bad0;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 683.7233839140042px 0.0px;

}
36.667% {
fill: #66bcd2;
fill-opacity: 0.75;
stroke: #66bcd2;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 694.7673586576166px 0.0px;

}
37.500% {
fill: #63bdd3;
fill-opacity: 0.75;
stroke: #63bdd3;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 704.3964347170806px 0.0px;

}
38.333% {
fill: #62bed5;
fill-opacity: 0.75;
stroke: #62bed5;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 712.7567694158415px 0.0px;

}
39.167% {
fill: #60bfd6;
fill-opacity: 0.75;
stroke: #60bfd6;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 719.9891611001519px 0.0px;

}
40.000% {
fill: #5fc0d7;
fill-opacity: 0.75;
stroke: #5fc0d7;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 726.2261127122597px 0.0px;

}
40.833% {
fill: #5ec1d8;
fill-opacity: 0.75;
stroke: #5ec1d8;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 731.590041242674px 0.0px;

}
41.667% {
fill: #5dc1d9;
fill-opacity: 0.75;
stroke: #5dc1d9;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 736.1923814286924px 0.0px;

}
42.500% {
fill: #5cc2da;
fill-opacity: 0.75;
stroke: #5cc2da;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 740.133355049577px 0.0px;

}
43.333% {
fill: #5bc2da;
fill-opacity: 0.75;
stroke: #5bc2da;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 743.5022111620326px 0.0px;

}
44.167% {
fill: #5ac3db;
fill-opacity: 0.75;
stroke: #5ac3db;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 746.3777796803388px 0.0px;

}
45.000% {
fill: #5ac3db;
fill-opacity: 0.75;
stroke: #5ac3db;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 748.8292159994364px 0.0px;

}
45.833% {
fill: #59c3dc;
fill-opacity: 0.75;
stroke: #59c3dc;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 750.916845365603px 0.0px;

}
46.667% {
fill: #59c3dc;
fill-opacity: 0.75;
stroke: #59c3dc;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 752.6930414567857px 0.0px;

}
47.500% {
fill: #59c4dc;
fill-opacity: 0.75;
stroke: #59c4dc;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 754.2030941335199px 0.0px;

}
48.333% {
fill: #58c4dd;
fill-opacity: 0.75;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 755.4860370638603px 0.0px;

}
49.167% {
fill: #58c4dd;
fill-opacity: 0.75;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 756.5754176343955px 0.0px;

}
50.000% {
fill: #58c4dd;
fill-opacity: 0.75;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 1.0;
translate: 757.5px 0.0px;

}
50.833% {
fill: #58c4dd;
fill-opacity: 0.7490845719152431;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.9987794292203241;
translate: 757.5px 0.0px;

}
51.667% {
fill: #58c4dd;
fill-opacity: 0.748005977290951;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.9973413030546013;
translate: 757.5px 0.0px;

}
52.500% {
fill: #58c4dd;
fill-opacity: 0.7467357367658614;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.9956476490211484;
translate: 757.5px 0.0px;

}
53.333% {
fill: #58c4dd;
fill-opacity: 0.7452406351057285;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.9936541801409713;
translate: 757.5px 0.0px;

}
54.167% {
fill: #58c4dd;
fill-opacity: 0.7434820251144585;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.991309366819278;
translate: 757.5px 0.0px;

}
55.000% {
fill: #58c4dd;
fill-opacity: 0.7414150653459768;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.9885534204613023;
translate: 757.5px 0.0px;

}
55.833% {
fill: #58c4dd;
fill-opacity: 0.7389879006736029;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.9853172008981371;
translate: 757.5px 0.0px;

}
56.667% {
fill: #58c4dd;
fill-opacity: 0.7361408031307254;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.9815210708409672;
translate: 757.5px 0.0px;

}
57.500% {
fill: #58c4dd;
fill-opacity: 0.7328053020292842;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.9770737360390456;
translate: 757.5px 0.0px;

}
58.333% {
fill: #58c4dd;
fill-opacity: 0.7289033479492003;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.9718711305989337;
translate: 757.5px 0.0px;

}
59.167% {
fill: #58c4dd;
fill-opacity: 0.7243465754877961;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.9657954339837281;
translate: 757.5px 0.0px;

}
60.000% {
fill: #58c4dd;
fill-opacity: 0.7190357551606529;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.9587143402142039;
translate: 757.5px 0.0px;

}
60.833% {
fill: #58c4dd;
fill-opacity: 0.7128605555447047;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.950480740726273;
translate: 757.5px 0.0px;

}
61.667% {
fill: #58c4dd;
fill-opacity: 0.7056997716988529;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.9409330289318039;
translate: 757.5px 0.0px;

}
62.500% {
fill: #58c4dd;
fill-opacity: 0.6974222125911689;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.9298962834548918;
translate: 757.5px 0.0px;

}
63.333% {
fill: #58c4dd;
fill-opacity: 0.6878884739184323;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.9171846318912431;
translate: 757.5px 0.0px;

}
64.167% {
fill: #58c4dd;
fill-opacity: 0.67695384545941;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.9026051272792133;
translate: 757.5px 0.0px;

}
65.000% {
fill: #58c4dd;
fill-opacity: 0.6644726024329083;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.8859634699105444;
translate: 757.5px 0.0px;

}
65.833% {
fill: #58c4dd;
fill-opacity: 0.6503038931071814;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.8670718574762419;
translate: 757.5px 0.0px;

}
66.667% {
fill: #58c4dd;
fill-opacity: 0.6343193427448635;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.8457591236598179;
translate: 757.5px 0.0px;

}
67.500% {
fill: #58c4dd;
fill-opacity: 0.6164123306255548;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.8218831075007397;
translate: 757.5px 0.0px;

}
68.333% {
fill: #58c4dd;
fill-opacity: 0.5965086532953562;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.7953448710604749;
translate: 757.5px 0.0px;

}
69.167% {
fill: #58c4dd;
fill-opacity: 0.5745779699432767;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.7661039599243689;
translate: 757.5px 0.0px;

}
70.000% {
fill: #58c4dd;
fill-opacity: 0.5506450664633542;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.734193421951139;
translate: 757.5px 0.0px;

}
70.833% {
fill: #58c4dd;
fill-opacity: 0.5247996362418125;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.6997328483224167;
translate: 757.5px 0.0px;

}
71.667% {
fill: #58c4dd;
fill-opacity: 0.49720305016890975;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.662937400225213;
translate: 757.5px 0.0px;

}
72.500% {
fill: #58c4dd;
fill-opacity: 0.4680905811657863;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.624120774887715;
translate: 757.5px 0.0px;

}
73.333% {
fill: #58c4dd;
fill-opacity: 0.43776784652601;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.58369046203468;
translate: 757.5px 0.0px;

}
74.167% {
fill: #58c4dd;
fill-opacity: 0.40660086213124647;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.542134482841662;
translate: 757.5px 0.0px;

}
75.000% {
fill: #58c4dd;
fill-opacity: 0.375;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.5;
translate: 757.5px 0.0px;

}
75.833% {
fill: #58c4dd;
fill-opacity: 0.34339913786875353;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.457865517158338;
translate: 757.5px 0.0px;

}
76.667% {
fill: #58c4dd;
fill-opacity: 0.31223215347399;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.41630953796532;
translate: 757.5px 0.0px;

}
77.500% {
fill: #58c4dd;
fill-opacity: 0.28190941883421367;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.3758792251122849;
translate: 757.5px 0.0px;

}
78.333% {
fill: #58c4dd;
fill-opacity: 0.25279694983109036;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.33706259977478714;
translate: 757.5px 0.0px;

}
79.167% {
fill: #58c4dd;
fill-opacity: 0.22520036375818733;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.3002671516775831;
translate: 757.5px 0.0px;

}
80.000% {
fill: #58c4dd;
fill-opacity: 0.19935493353664566;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.2658065780488609;
translate: 757.5px 0.0px;

}
80.833% {
fill: #58c4dd;
fill-opacity: 0.17542203005672335;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.23389604007563114;
translate: 757.5px 0.0px;

}
81.667% {
fill: #58c4dd;
fill-opacity: 0.1534913467046439;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.2046551289395252;
translate: 757.5px 0.0px;

}
82.500% {
fill: #58c4dd;
fill-opacity: 0.13358766937444524;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.17811689249926033;
translate: 757.5px 0.0px;

}
83.333% {
fill: #58c4dd;
fill-opacity: 0.1156806572551366;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.15424087634018213;
translate: 757.5px 0.0px;

}
84.167% {
fill: #58c4dd;
fill-opacity: 0.09969610689281855;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.13292814252375806;
translate: 757.5px 0.0px;

}
85.000% {
fill: #58c4dd;
fill-opacity: 0.08552739756709177;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.11403653008945569;
translate: 757.5px 0.0px;

}
85.833% {
fill: #58c4dd;
fill-opacity: 0.07304615454059005;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.09739487272078673;
translate: 757.5px 0.0px;

}
86.667% {
fill: #58c4dd;
fill-opacity: 0.06211152608156767;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.08281536810875689;
translate: 757.5px 0.0px;

}
87.500% {
fill: #58c4dd;
fill-opacity: 0.05257778740883104;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.07010371654510805;
translate: 757.5px 0.0px;

}
88.333% {
fill: #58c4dd;
fill-opacity: 0.044300228301147104;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.05906697106819614;
translate: 757.5px 0.0px;

}
89.167% {
fill: #58c4dd;
fill-opacity: 0.03713944445529535;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.049519259273727134;
translate: 757.5px 0.0px;

}
90.000% {
fill: #58c4dd;
fill-opacity: 0.030964244839346927;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.0412856597857959;
translate: 757.5px 0.0px;

}
90.833% {
fill: #58c4dd;
fill-opacity: 0.02565342451220398;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.034204566016271976;
translate: 757.5px 0.0px;

}
91.667% {
fill: #58c4dd;
fill-opacity: 0.02109665205079972;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.028128869401066292;
translate: 757.5px 0.0px;

}
92.500% {
fill: #58c4dd;
fill-opacity: 0.017194697970715822;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.02292626396095443;
translate: 757.5px 0.0px;

}
93.333% {
fill: #58c4dd;
fill-opacity: 0.013859196869274615;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.01847892915903282;
translate: 757.5px 0.0px;

}
94.167% {
fill: #58c4dd;
fill-opacity: 0.011012099326397073;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.014682799101862765;
translate: 757.5px 0.0px;

}
95.000% {
fill: #58c4dd;
fill-opacity: 0.00858493465402324;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.011446579538697654;
translate: 757.5px 0.0px;

}
95.833% {
fill: #58c4dd;
fill-opacity: 0.006517974885541539;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.008690633180722052;
translate: 757.5px 0.0px;

}
96.667% {
fill: #58c4dd;
fill-opacity: 0.004759364894271534;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.006345819859028712;
translate: 757.5px 0.0px;

}
97.500% {
fill: #58c4dd;
fill-opacity: 0.00326426323413867;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.00435235097885156;
translate: 757.5px 0.0px;

}
98.333% {
fill: #58c4dd;
fill-opacity: 0.001994022709048998;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.002658696945398664;
translate: 757.5px 0.0px;

}
99.167% {
fill: #58c4dd;
fill-opacity: 0.0009154280847568086;
stroke: #58c4dd;
stroke-width: 0.04;
stroke-opacity: 0.0012205707796757448;
translate: 757.5px 0.0px;

}
100.000% {
fill-opacity: 0;
stroke-opacity: 0;

}
}